@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    line-height: 1.4;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Same properties as body */
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

header {
    background-color: #0074D9;
    color: #fff;
    padding: 1.4rem 3rem;
}

main {
    width: 96%;
    max-width: 64rem;
    margin: 1.4rem auto;
    flex: 1 0 auto;
}

.new-doc {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 1.4rem;
}

input[type=submit] {
    cursor: pointer;
    transition: background-color 0.3s ease-out, border 0.3s ease-out;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1.4rem 8rem;
    flex-shrink: 0;
}

header a {
    color: inherit;
    text-decoration-line: none;
}

header a:hover {
    color: #ccc;
}

.loading-gif {
    position: relative;
    max-width: 200px;
}


.success-animation {
    background-color: #5edd5edc;
    border: 2px solid #3a9b3a;
}


/* Editor */
.editor {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.8rem;
    padding: 1rem;
    box-shadow: 0 5px 10px #000000a1;
}

.editor-form input[type="text"] {
    text-align: center;
}

.editor-form textarea {
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
}

.editor-form label {
    display: none;
}

.editor-form .title {
    padding: 18px 5px 14px;
    font-size: 1.5rem;
}

.editor-form .subtitle.readonly {
    border: 0;
    padding: 0;
    margin-bottom: 8px;
    color: #555;
    font-size: 0.9rem;
    margin-top: -5px;
}

.editor-form .inline-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.editor-form .inline-buttons input {
    margin-bottom: 0;
    padding: 0.6rem 1.2rem;
    border-radius: 0;
    background-color: #0074D9;
    color: #fff;
    border-color: #5d94db;
}