@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    line-height: 1.4;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Same properties as body */
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}

header {
    background-color: #0074D9;
    color: #fff;
    padding: 1.4rem 3rem;
}

button {
    cursor: pointer;
}

main {
    width: 96%;
    max-width: 64rem;
    margin: 1.4rem auto;
    flex: 1 0 auto;
    text-align: center;
}

.wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.wrap .main {
    width: 50%;
    margin: 0;
    margin-left: 20%;
    padding: 1rem
}

.wrap .aside {
    width: 20%;
    min-width: 200px;
    border-left: 1px solid #0000005e;
    padding: 1rem;
}

@media (max-width: 870px) {
    .wrap .main {
        margin: 0;
    }
    .wrap .aside {
        width: 100%;
    }
}

.new-doc {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 1.4rem;
}

/* standardize textarea */
textarea.content {
    margin: 0;
    border-radius: 0;
}

input[type=submit] {
    cursor: pointer;
    transition: background-color 0.3s ease-out, border 0.3s ease-out;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1.4rem 8rem;
    flex-shrink: 0;
}

header a {
    color: inherit;
    text-decoration-line: none;
}

header a:hover {
    color: #ccc;
}


/* loading */
.loading-gif {
    position: relative;
    display: block;
    max-width: 200px;
    margin: 1px auto;
}

.loading, 
.loading button {
    cursor: wait !important;
}

.editor-form .inline-buttons input.success-animation {
    background-color: #27AE14;
    border: 2px inset #3a9b3a;
}



/* Editor */
.editor {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.8rem;
    padding: 1rem;
    box-shadow: 0 5px 10px #000000a1;
}

.editor-form {
    padding: 0.5rem 0;
}

.editor-form input[type="text"] {
    text-align: center;
}

.editor-form .content {
    max-width: 100%;
    min-width: 100%;
    background-color: transparent;
}

.editor-form label {
    display: none;
}

.editor-form .title {
    padding: 14px 5px 8px;
    font-size: 1.5rem;
    border-radius: 0.9em;
    border: 1px solid #00000025;
    box-shadow: 0 1px 6px #00000025;
}

.editor-form .subtitle.readonly {
    border: 0;
    padding: 0;
    margin-bottom: 8px;
    color: #555;
    font-size: 0.9rem;
}

.inline-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.editor-form .inline-buttons input {
    margin-bottom: 0;
    padding: 0.6rem 1.2rem;
    border-radius: 0;
    background-color: #0074D9;
    color: #fff;
    border-color: #5d94db;
}

/* editor switch button */
.toggle-container {
    display: inline-flex;
    width: 50%;
    min-width: fit-content;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 0.2rem 1rem;
    line-height: 25px;
    font-size: 1.05rem;
    background: transparent;
    margin-bottom: 8px;
    border: 1px solid #008dffa1;
    border-radius: 2rem;
    box-shadow: 0 0 4px #0070ff6d, 0 0 3px #0070ff6d inset;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch .toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #bbb;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-checkbox:checked + .slider {
    background-color: #2196F3;
}

.toggle-checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-checkbox:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

/* code editor */
.code-editor {
    background-color: #1e1e1e;
    position: relative;
    text-align: start;
}

.code-editor .inline-buttons {
    justify-content: space-between;
    padding: 0.4rem 1rem;
}

.blue-button {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    background-color: #0076D5;
    color: #eee;
    letter-spacing: 1px;
    border: 3px outset #0085EE;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
}

.blue-button:active {
    transform: translateY(2px);
    background-color: #005FAC;
    border: 3px inset #0085EE;
}

.code-title {
    width: 100%;
    background-color: #181818;
}

.code-title .title {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 0;
    background: #1e1e1e;
    margin: 0;
    border: 0;
    border-top: 1px solid #0076D5;
    color: #eee;
    width: fit-content;
    box-shadow: 2px 2px 4px #0000007d;
}

.code-title .title:focus {
    border: 1px solid #0076D5;
    outline: 0;
}

/* terminal */
.hidden {
    display: none;
}

.terminal-view {
    width: 100%;
    height: 30vh;
    background: #181818;
    color: #eee;
    border-top: 1px solid #FFFFFF1C;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    padding: 0.5rem 1rem;
    overflow: hidden;
    box-shadow: 0px -2px 2px #0000002e;
}

.terminal-view span {
    font-size: 0.75rem;
    border-bottom: 1px solid #0076D5;
    padding: 0.05rem 0.15rem;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 5px;
    background: transparent;
    color: #eee;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px;
    line-height: 1;
}

.terminal-view p {
    margin: 0;
    padding: 0.6rem 0 2rem;
    font-size: 0.95rem;
    overflow: auto;
    text-wrap: wrap;
    height: 90%;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.login-button {
    margin-bottom: 0;
    padding: 0.6rem 1.2rem;
    border-radius: 0;
    background-color: #0074D9;
    color: #fff;
    border-color: #5d94db;
    text-decoration: none;
}

.login-button:hover {
    background-color: #66b2f5ff;
}

.login-form {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.login-form p {
    margin-bottom: 1rem;
    text-align: left;
}

.input {
    font-size: 1rem;
    line-height: 1.4rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem;
    box-sizing: border-box;
    margin-bottom: 1.4rem;
}

.form-input {
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}

.input:valid {
    border: 1px solid green;
}

.input:invalid {
    border: 1px solid red;
}

.input-label {
    font-weight: bold;
    margin: 2rem 0 0;
    display: block;
}

.input-label:first-of-type {
    margin: 1rem 0 0;
}

.login-header {
    background-color: #0074D9;
    color: #fff;
    padding: 1.4rem 3rem;
    margin-bottom: 1rem;
}

.documents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.document {
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
}

.documents h3 {
    text-align: center;
}

.index-title {
    text-align: center;
    width: 50%;
    margin: 0;
    align-self: center;
}

.document-button {
    margin-bottom: 0;
    display: inline-block;
    border: 1px;
    padding: 0.6rem 1.2rem;
    border-radius: 0;
    background-color: #0074D9;
    color: #fff;
    border-color: #5d94db;
    text-decoration: none;
    width: 5rem;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    margin: 0.1rem;
}

.document-button:hover {
    background-color: #66b2f5ff;
}

.document-content {
    background-color: #fff;
    min-height: 2.3rem;
    margin-bottom: 3px;
    border: 1px solid #333;
    padding: 2px 5px;
}

.document-content  p {
    font-size: 0.7rem;
}

.share-form {
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
}

.share-form p {
    margin-bottom: 0;
    width: 10rem;
}

.share-form  label {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.share-text {
    /* height: 1rem; */
    font-family: "Noto Sans", sans-serif;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    padding: 0.3rem;
    max-width: 100%;
}

.add-share-doc {
    /*! position: absolute; */
    /*! right: 1rem; */
    /*! top: 8rem; */
    width: 25%;
}

.add-share-doc input {
    padding: 0.3rem;
    margin-bottom: 0;
}

.new-document-button {
    /*! position:absolute; */
    /*! left: 10rem; */
    /*! top: 8rem; */
    border-radius: 1rem;
    height: 2.5rem;
    width: 5rem;
    margin-right: calc(25% - 5rem);
}

.title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem;
}

@media (max-width: 1720px) {
    .title-flex {
        flex-wrap: wrap
    }
    .index-title {
        flex: 1 1 100%;
        order: 3;
    }
    .new-document-button {
        margin-right: calc(24% - 5rem);
        order: 1;
    }
    .add-share-doc {
        flex: 1 1 75%;
        order: 2;
        text-align: right;
    }
}

@media (max-width: 600px) {
    .title-flex {
        flex-wrap: wrap
    }
    .index-title {
        flex: 1 1 100%;
        order: 3;
    }
    .new-document-button {
        margin-right: calc(99% - 5rem);
        order: 1;
    }
    .add-share-doc {
        flex: 1 1 100%;
        order: 2;
        text-align: right;
    }
}


.comment-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.comment-form {
    display: block;
    position: relative;
    padding: 2rem 0.8rem 1rem;
    border: 1px solid #0000005c;
    margin: 1rem  0;
    border-radius: 10px;
    box-shadow: 0 5px 10px #0000008a;
    text-align: right;
}

.comment-form .close-button {
    color: #020202;
    top: 0px;
}

.comment-form .enter {
    padding: 0.3rem 0.7rem;
    border-radius: 50px;
    background: #fbfbfb;
    font-size: 0.9rem;
    box-shadow: 0 0px 8px #0003;
    border: 1px solid #0000001c;
    color: #0064ff;
}

.comment-form .enter:active {
    background: #a4a4a4;
}

.comment-form .enter:hover {
    background: #fffdfd;
    box-shadow: 0 0 10px #00000052;
    border: 1px solid #fff;
}

.comment-form .comment-text {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border-width: 1px;
    resize: vertical;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 5px #00000036;
    text-wrap: wrap;
    word-wrap: break-word;
}

.comment .byline {
    display: block;
    font-weight: 550;
    font-size: 0.8rem;
}

.comment p {
    margin: 0.5rem 0 0.8rem;
    color: #222;
}

.comment .delete-button {
    background-color: transparent;
    border: 0;
    color: #db0000;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 0.2rem;
}

/* highlights */
.commentedLine {
    background-color: #ffffff38;
}

/* Comments made by others */
.commentGlyph {
    background: blue;
    width: 6px !important;
	margin-left: 4px;
}

/* Comments made by current user */
.myCommentGlyph {
    background: #ffffff50;
    width: 6px !important;
	margin-left: 4px;
}

.editor-container {
    position: relative;
    margin-bottom: 1rem;
}

.editor-container, .backdrop, textarea.content {
    width: 100%;
    height: 60vh;
}

.highlights, textarea.content {
    padding: 1rem;
    font: 16px/22px 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    text-align: start;
}

.backdrop {
    overflow: auto;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    /*pointer-events: none;*/
    border: 1px solid transparent;
    border-radius: 12px;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

textarea.content {
    display: block;
    position: absolute;
    z-index: 2;
    color: #222;
    background-color: transparent;
    overflow: auto;
    resize: none;
    border: 1px solid #00000025;
    border-radius: 1rem;
    height: 100%;
    box-shadow: 0px 1px 6px #00000025;
}

.comment.focus {
    transform: scale(1.05);
    box-shadow: 1px 2px 6px #00000070;
}

mark {
    color: transparent;
    background-color: #53aeff;
}

mark.comment-highlight {
    color: transparent;
    background-color: #ffb30040;
}

mark.my-comment-highlight {
    color: transparent;
    background-color: #0000001a;
}

mark.comment-highlight.focus {
    background-color: #ffb300a0;
}

mark.my-comment-highlight.focus {
    background-color: #3894f7ab;
}
